__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3
*.db

.env
.env.*

venv/
env/
.venv/
ENV/
env.bak/

.idea/
.vscode/
.DS_Store

*.log
*.bak
*.swp
*.tmp

coverage/
htmlcov/
dist/
build/
*.egg-info/

docker-compose.override.yml
*.tar
*.tar.gz
*.tgz

saved_model.pkl

model.pkl
outputs/*
!outputs/metrics.json

data/

screenshots/
*.png
*.jpg